## Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [3]:
import pandas as pd
import numpy as np

In [60]:
ratings = pd.read_csv('ratings.dat', names = ['userId', 'movieId', 'rating', 'timestamp'], sep = '\s+', delimiter="::")
ratings.head()

D:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [59]:
movies = pd.read_csv('movies.dat', sep = '\s+', names = ['movieId', 'title', 'genres'], delimiter="::")
movies.head()

D:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   movieId                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [86]:
ratings[(ratings[('rating')])==5].groupby('movieId').count().sort_values('rating', ascending=False).head(1)\
    .merge(movies, on='movieId', how='left')[['title']]

                    title
0  American Beauty (1999)

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [91]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [123]:
sum_baltic = power[(power['country']=='Latvia') | (power['country']=='Estonia') | (power['country']=='Lithuania')]\
    .query('quantity>0 and (category==4 or category==12 or category==21)')\
    .loc[lambda power: (2005<=power.year)].loc[lambda power: (2010>=power.year)]\
    .filter(items = ['quantity']).sum()
float(sum_baltic)

240580.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.  
Примеры страниц (необязательно брать именно эти):   
https://fortrader.org/quotes  
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [136]:
data = pd.read_html('https://www.sport-express.ru/')
data

[              0                        1      2
 0  3.08 / 14:00            Урал - Ростов  2 : 2
 1  3.08 / 16:30  Кр. Советов - Локомотив  1 : 2
 2  3.08 / 19:00         Спартак - Динамо  0 : 0
 3  3.08 / 21:30        Зенит - Краснодар  1 : 1
 4  4.08 / 16:30         Тамбов - Арсенал  0 : 1
 5  4.08 / 19:00             Рубин - ЦСКА  0 : 1
 6  4.08 / 21:30               Сочи - Уфа  0 : 0
 7  5.08 / 20:00         Ахмат - Оренбург  2 : 1,
                0                     1      2
 0  10.08 / 14:00     Оренбург - Тамбов  2 : 2
 1  10.08 / 19:00     Краснодар - Рубин  1 : 0
 2  10.08 / 19:00        Динамо - Зенит  0 : 2
 3  11.08 / 14:00         Арсенал - Уфа  1 : 0
 4  11.08 / 16:30      Локомотив - Урал  4 : 0
 5  11.08 / 19:00           ЦСКА - Сочи  0 : 0
 6  11.08 / 21:30       Ахмат - Спартак  1 : 3
 7  12.08 / 20:00  Ростов - Кр. Советов  1 : 0,
                0                   1      2
 0  16.08 / 18:00     Оренбург - Сочи  1 : 1
 1  17.08 / 14:00  Урал - Кр. Советов  1 : 3
 2  17.08 / 16:30  Тамбов - Краснодар  0 : 2
 3  17.08 / 19:00       Зенит - Ахмат  0 : 0
 4  18.08 / 14:00     Рубин - Арсенал  1 : 0
 5  18.08 / 16:30        Уфа - Ростов  2 : 0
 6  18.08 / 19:00  Динамо - Локомотив  1 : 2
 7  19.08 / 20:00      Спартак - ЦСКА  2 : 1,
     Команды    Команды.1    И    В    Н    П   +/-     О
 0       NaN          NaN  NaN  NaN  NaN  NaN   NaN   NaN
 1       1.0        Зенит  6.0  4.0  2.0  0.0   9-2  14.0
 2       2.0    Локомотив  6.0  4.0  1.0  1.0  11-5  13.0
 3       3.0    Краснодар  6.0  4.0  1.0  1.0  10-4  13.0
 4       4.0      Спартак  6.0  3.0  2.0  1.0   8-6  11.0
 5       5.0       Ростов  6.0  3.0  2.0  1.0  10-9  11.0
 6       6.0         ЦСКА  6.0  3.0  1.0  2.0   5-5  10.0
 7       7.0        Рубин  6.0  3.0  1.0  2.0   4-3  10.0
 8       8.0      Арсенал  6.0  3.0  1.0  2.0   8-7  10.0
 9       9.0         Урал  6.0  2.0  1.0  3.0  9-13   7.0
 10     10.0          Уфа  6.0  2.0  1.0  3.0   8-8   7.0
 11     11.0        Ахмат  6.0  2.0  1.0  3.0   4-8   7.0
 12     12.0  Кр. Советов  6.0  2.0  0.0  4.0   9-9   6.0
 13     13.0       Динамо  6.0  1.0  2.0  3.0   4-6   5.0
 14     14.0       Тамбов  6.0  1.0  1.0  4.0   6-9   4.0
 15     15.0         Сочи  6.0  0.0  3.0  3.0   1-7   3.0
 16     16.0     Оренбург  6.0  0.0  2.0  4.0  6-11   2.0,
                0                      1      2
 0  24.08 / 14:00        Тамбов - Динамо  – : –
 1  24.08 / 16:30            Уфа - Зенит  – : –
 2  24.08 / 19:00  Краснодар - Локомотив  – : –
 3  25.08 / 16:30           ЦСКА - Ахмат  – : –
 4  25.08 / 19:00         Ростов - Рубин  – : –
 5  25.08 / 19:00  Кр. Советов - Спартак  – : –
 6  25.08 / 21:30     Арсенал - Оренбург  – : –
 7  26.08 / 18:00            Урал - Сочи  – : –,
                0                     1      2
 0  30.08 / 20:00  Кр. Советов - Динамо  – : –
 1  31.08 / 11:30        Уфа - Оренбург  – : –
 2  31.08 / 14:00          Рубин - Сочи  – : –
 3  31.08 / 16:30    Локомотив - Ростов  – : –
 4  31.08 / 19:00        Ахмат - Тамбов  – : –
 5   1.09 / 14:00      Урал - Краснодар  – : –
 6   1.09 / 16:30        Арсенал - ЦСКА  – : –
 7   1.09 / 19:00       Спартак - Зенит  – : –,
                0                        1      2
 0  15.09 / 00:00          Зенит - Арсенал  – : –
 1  15.09 / 00:00           Спартак - Урал  – : –
 2  15.09 / 00:00           Ростов - Ахмат  – : –
 3  15.09 / 00:00  Краснодар - Кр. Советов  – : –
 4  15.09 / 00:00            Тамбов - ЦСКА  – : –
 5  15.09 / 00:00             Динамо - Уфа  – : –
 6  15.09 / 00:00         Сочи - Локомотив  – : –
 7  15.09 / 00:00         Оренбург - Рубин  – : –]