## Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:  
* оценка 2 и меньше - низкий рейтинг  
* оценка 4 и меньше - средний рейтинг  
* оценка 4.5 и 5 - высокий рейтинг  
  
Результат классификации запишите в столбец class

In [2]:
import pandas as pd
import numpy as np

In [3]:
ratings = pd.read_csv('ratings.dat', names = ['userId', 'movieId', 'rating', 'timestamp'], sep = '\s+', delimiter="::")
ratings.head()

D:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [4]:
def mark(rating):
    if rating<=2:
        return 'низкий рейтинг'
    elif rating<=4:
        return 'средний рейтинг'
    elif 4.5<=rating<=5:
        return 'высокий рейтинг'

In [8]:
ratings['class'] = ratings['rating'].apply(mark)
ratings.head()

   userId  movieId  rating  timestamp            class
0       1     1193       5  978300760  высокий рейтинг
1       1      661       3  978302109  средний рейтинг
2       1      914       3  978301968  средний рейтинг
3       1     3408       4  978300275  средний рейтинг
4       1     2355       5  978824291  высокий рейтинг

## Задание 2

Используем файл keywords.csv.  
  
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.  
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:  
  
geo_data = {  

    'Центр': ['москва', 'тула', 'ярославль'],  
    
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],  
    
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']  
}  
  
Результат классификации запишите в отдельный столбец region.

In [51]:
keywords = pd.read_csv('keywords.csv',sep = ',')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [42]:
def geo_classification(query):
    geo_data = {
        'Центр': ['москва', 'тула', 'ярославль'],
        'Северо-Запад': ['петербург', 'псков', 'мурманск'],
        'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }
    words=query.split(' ')
    for wrd in words:
        for key, value in geo_data.items():
            if(wrd in value):
                return key
    return 'undefined'

In [55]:
keywords['region'] = keywords['keyword'].apply(geo_classification)
keywords[keywords['region'].isin(['Центр','Северо-Запад','Дальний Восток'])]

,keyword,shows,region
127,авито москва,979292,Центр
370,авито ру санкт петербург,425134,Северо-Запад
849,авито ярославль,209581,Центр
1063,фарпост владивосток,176951,Дальний Восток
1236,банк санкт петербург,174375,Северо-Запад
1259,москва,153050,Центр
1346,санкт петербург,144232,Северо-Запад
1396,гисметео москва,140279,Центр
1482,госуслуги москва,133061,Центр
1579,авито тула,126168,Центр
1682,погода москва,151701,Центр
2153,авито псков,98931,Северо-Запад
2175,дром хабаровск,98361,Дальний Восток
2398,авито мурманск,89787,Северо-Запад
2550,банк санкт петербург интернет банк,89123,Северо-Запад
2806,циан недвижимость москва,78729,Центр
2974,авто ру санкт петербург,74918,Северо-Запад
3206,дром владивосток,73084,Дальний Восток
3275,100 сп владивосток,76418,Дальний Восток
3687,авито хабаровск,63736,Дальний Восток
3786,метро москва,68024,Центр
4888,перекресток акции москва каталог сегодня,48619,Центр
5013,фк спартак москва,49699,Центр
5434,авто ру москва,46991,Центр
5512,схема метро москва,62915,Центр
5642,погода псков,47395,Северо-Запад
5671,avito санкт петербург,44214,Северо-Запад
5700,холодильник ру интернет магазин москва,44385,Центр
5768,спартак москва,43656,Центр
5825,петрович санкт петербург каталог товаров,43280,Северо-Запад
...,...,...,...
96233,автосуши тула,3812,Центр
96245,вакансии псков,4085,Северо-Запад
96422,наш город москва портал gorod mos ru,3757,Центр
96427,хостел москва,4193,Центр
96681,налоговая инспекция по адресу проживания москва,3737,Центр
96746,афиша ярославль,4033,Центр
96820,рп5 тула,3750,Центр
96988,спартак москва футбол,5273,Центр
97115,авиабилеты москва сочи,13146,Центр
97199,запись на прием к врачу москва,3756,Центр
97349,спорт и отдых мурманск,3791,Северо-Запад
97382,комсомольская правда москва,3708,Центр
97413,kassir ru санкт петербург,3723,Северо-Запад
97514,расписание электричек владимир москва,8480,Центр
97606,торпедо москва,3729,Центр
97613,би порт мурманск,3723,Северо-Запад
98183,москва октябрьская это какой вокзал,3696,Центр
98272,управляющая компания жкх по адресу москва,3745,Центр
98388,пилюли ру интернет аптека москва,3690,Центр
98542,спортмастер ярославль каталог товаров,3734,Центр
98679,геи москва,4205,Центр
98726,ледовый дворец санкт петербург,3772,Северо-Запад
98943,вакансии на авито москва от прямых работодателей,3738,Центр
99084,122 медсанчасть санкт петербург официальный сайт,3679,Северо-Запад
99204,bileter ru санкт петербург,3661,Северо-Запад
99292,афиша кино москва на сегодня,3704,Центр
99590,авито ярославль автомобили с пробегом,3673,Центр
99808,полармед мурманск запись на прием,3719,Северо-Запад
99890,яндекс метро москва,4548,Центр
99922,авто ру ярославль,3712,Центр

## Задание 3

Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
	- для каждой строки пройдите по всем годам списка years
	- если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
	- если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [56]:
movies = pd.read_csv('movies.dat', sep = '\s+', names = ['movieId', 'title', 'genres'], delimiter="::")
movies.head()

D:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   movieId                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [58]:
year=range(1950,2011)
year

range(1950, 2011)

In [70]:
def production_year(strandyear):
    year=range(1950,2011)
    res_year=1900
    for i in year:
        if strandyear.find(str(i))>=0:
            res_year=i
            break;
    return res_year

In [73]:
movies['year'] = movies['title'].apply(production_year)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Animation|Children's|Comedy,1995
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [103]:
ratings.merge(movies, on='movieId', how='left').groupby('year').mean().reset_index().\
    sort_values('rating', ascending=False)[['year','rating']].head(10)

    year    rating
3   1952  4.126487
8   1957  4.108890
13  1962  4.088641
2   1951  4.086327
5   1954  4.045523
0   1900  4.037697
10  1959  4.021418
25  1974  4.008213
1   1950  4.005405
18  1967  3.985953